.toh-container-swal {
  margin: 0 !important;
}

.toh-popup-swal {
  grid-template-columns: 0fr 100fr 0fr !important;
  box-shadow: none !important;
}

.toh-swal2 {
  .swal2-input-label {
    color: #ddd;
  }
}